.form_container form {
    margin-inline: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    border: 2px solid #777;
    padding: 1rem;
    border-radius: 1rem;
    padding-bottom: 3rem;
}

.formclose_btn {
    text-align: right;
}

.add_btn {
    width: fit-content;
    background-color: #111;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.4rem 0.75rem;
    height: fit-content;
}

.tech_input {
    font-size: 0.95rem;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 0.35rem 0.85rem;
    max-width: 120px;
}

.tech_input_wrapper {
    margin-right: 1rem;
    margin-block: 0.5rem;
    position: relative;
}

.icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.experience {
    margin-top: 0.25rem;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
}


.option {
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid red;
}

.open_update_btn {
    background-color: #D85426;
    width: calc(100% - 2rem) !important;
    margin-inline: auto;
    display: block;
    margin-top: 1rem;
    font-weight: 400;
    color: #fff;
}

.techs_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.time_wrapper {
    display: flex;
    gap: 1rem;
}

.one_time {
    flex: 1;
    /* border: 1px solid red; */
}

.one_time .timeput {
    width: 100% !important;
}

.red {
    color: #D85426;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .form_container form {
        width: 95vw;
    }
}